@model AplicacionWebProyecto3.Models.CitasModel

@{
    ViewData["Title"] = "Registrar Cita";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.Especialidad;
}

<h1>RegistrarCita</h1>

<h4>CitasModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarCita">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CedulaPaciente" class="control-label"></label>
                <input asp-for="CedulaPaciente" class="form-control" />
                <span asp-validation-for="CedulaPaciente" class="text-danger"></span>
            </div>
            <div>
                @Html.DropDownList("listaEspecialidad", items, "Seleccione una opcion", new { @class="form-control"})
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
