@model AplicacionWebProyecto3.Models.CitasModel

@{
    ViewData["Title"] = "Registrar Cita";
    List<SelectListItem> Especialidaditems = (List<SelectListItem>)ViewBag.Especialidad;
    List<SelectListItem> areaSaludiItems = (List<SelectListItem>)ViewBag.AreaSalud;
}

<h1 class="text-center">Registrar Cita</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="RegistrarCita" method="post">
            <div class="form-group">
                <label asp-for="CedulaPaciente" class="control-label"></label>
                <input asp-for="CedulaPaciente" class="form-control" />
                <span asp-validation-for="CedulaPaciente" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Especialidad</label>
                @Html.DropDownList("listaEspecialidad", Especialidaditems, "Seleccione una opcion", new { @class = "form-control" })
            </div>
            <div>
                <label class="control-label">Area de Salud</label>
                @Html.DropDownList("listaAreaSalud", areaSaludiItems, "Seleccione una opcion", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
